main {
	min-height: 80vh;
}

h3 {
	padding: 1rem 0;
}

h1 {
	font-size: 1.8rem;
	padding: 1rem 0;
}

h2 {
	font-size: 1.4rem;
	padding: 0.5rem 0;
}

.rating span {
	margin: 0.1rem;
}

/* carousel */
.carousel-item-next,
.carousel-item-prev,
.carousel-item.active {
	display: flex;
	flex-direction: row-reverse;
}
.carousel-caption {
	position: absolute;
	top: 25%;
	max-width: 28rem;
	text-align: left;
}

.carousel-caption h1 {font-size: 2rem;}
.carousel-caption h3 {
	color: rgb(255, 255, 255);
}

.carousel img {
	height: 20rem;
}
